/* font-family: 'Roboto', sans-serif; 300,400,500,700.*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  /* overflow: hidden; */
  position: relative;
}
#phone{
  position: absolute;
  background: transparent;
  color: white;
  animation: mueve 1s  infinite;
  bottom: 32px;
  z-index: 15;
  right: 32px;
}
@keyframes mueve {
  from {
    transform: translateY(0px);
  }
  to{
    transform: translateY(10px);
  }
}
#cabecera {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 4;
  box-sizing: border-box;
  height: 70px;
  transition: 1s;
  padding: 0 30px;
  font-family: "Roboto";
}
#cabecera p {
  font-weight: 700;
  font-size: 30px;
  color: white;
  text-shadow: 0px 0px 8px black;
}
#cabecera ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
#cabecera li {
  margin: 0 16px;
  font-weight: 500;
  font-family: "Roboto";
  cursor: pointer;
  transition: 0.5s;
  color: transparent;
}
#cabecera a {
  text-decoration: none;
  text-shadow: 0px 0px 8px black;
}
.ct {
  color: white;
}
.seleccionado{
  color: #ff8e9e;
}
.ctac {
  padding: 10px 24px;
  border-radius: 30px;
  background-color: black;
  color: #f2f2f2;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
  border:none;
}
.cta {
  color: white;
}

#cabecera li a:hover,
.cta:hover {
  color: #ff8e9e;
  transition: 0.5s;
}
.contenedor-contacto1{
  overflow-y: scroll;
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
#inicio,
#habilidades,
#sobreMi,
#proyectos{
  scroll-snap-align: center;
}
.container {
  padding: 0 24px;
}
.presentacion {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.presentacion__principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 32px;
  height: 100vh;
  width: 100%;
  background: linear-gradient(45deg, #000, #150050, #000, #150050, #000);
  background-size: 300% 300%;
  animation: color 12s infinite;
  position: relative;
}
@keyframes color {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.contenedor-bolitas {
  position: relative;
}
.bolita {
  box-shadow: 0px 0px 32px -6px red;
  width: 120px;
  height: 120px;
  background: #950101;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  right: -50px;
  z-index: 1;
}
.bolita1 {
  box-shadow: 0px 0px 32px -6px #ffed00;
  width: 120px;
  height: 120px;
  background: #c07f00;
  position: absolute;
  top: 100px;
  border-radius: 50%;
  z-index: 1;
  left: -50px;
}
.bolita2 {
  width: 120px;
  height: 120px;
  background: rgb(86, 25, 25);
  position: absolute;
  top: 425px;
  border-radius: 50%;
  z-index: 1;
  right: 56px;
}
.bolita4 {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 300px;
  right: -300px;
  background: #ffa;
  z-index: 1;
  border-radius: 50%;
  box-shadow: 0px 0px 64px -10px white;
}
.bolita3 {
  width: 200px;
  height: 200px;
  box-shadow: 0px 0px 64px -10px white;
  position: absolute;
  z-index: 1;
  background: #fff6e0;
  border-radius: 50%;
  top: 350px;
  left: -300px;
}
.prensentacion-card {
  box-shadow: 0px 0px 16px 4px black;
  display: flex;
  flex-direction: column;
  background-position: center center;
  background-size: cover;
  color: white;
  width: 400px;
  height: 500px;
  padding: 32px 16px 16px 16px;
  border-radius: 16px;
  align-items: center;
  position: relative;
  z-index: 2;
  background: linear-gradient(45deg, black ,black, transparent, black, black);
}
.presentacion-card-img {
  width: 160px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: transparent;
  background-size: 300% 300%;
  animation: color 4s infinite;
  box-shadow: 0 0 1px #081f37, 0 0 24px #081f37, 0 0 4px #081f37;
}

.prensentacion-card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.presentacion__principal h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 0;
  background: linear-gradient(90deg, red, orange, yellow, yellow, orange, red);
  background-size: 400%;
  word-spacing: 5px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  animation: color 10s infinite;
}

.presentacion__principal h1 {
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: white;
}
.presentacion__principal p {
  text-align: center;
  width: 300px;
  color: white;
  margin-top: 20px;
}
.btn-cv {
  position: relative;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  padding: 15px 30px;
  color: white;
  letter-spacing: 2px;
  font-size: 20px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.75s;
}
.btn-cv:hover {
  background: transparent;
  color: #a945c7;
  box-shadow: inset 0 0 10px #a945c7, 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 8px #a945c7;
  transition-delay: 1s;
  border-radius: 8px;
  text-shadow: 0px 0px 8px #a945c7;
}
.btn-cv span {
  position: absolute;
  display: block;
}
#span1 {
  top: 0;
  left: -102%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #a945c7);
  box-shadow: 0px 0px 18px  #a945c7

}
.btn-cv:hover #span1 {
  left: 102%;
  transition: 0.75s;
}
#span3 {
  bottom: 0;
  right: -102%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #a945c7);
  box-shadow: 0px 0px 8px #a945c7

}
.btn-cv:hover #span3 {
  right: 102%;
  transition: 1s;
  transition-delay: 0.5s;
}
#span2 {
  top: -102%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(270deg, transparent, #a945c7);
  box-shadow: 0px 0px 8px  #a945c7
}
.btn-cv:hover #span2 {
  top: 102%;
  transition: 0.5s;
  transition-delay: 0.25s;
}
#span4 {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #a945c7);
  box-shadow: 0px 0px 8px  #a945c7

}
.btn-cv:hover #span4 {
  bottom: 100%;
  transition: 0.75s;
  transition-delay: 0.75s;
}
.presentacion-card-buttom {
  position: absolute;
  bottom: 32px;
}

.presentacion__secundaria {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: transparent;
  color: #fff2f9;
  height: 100vh;
  background: linear-gradient(0deg, #161e54, #001e6c);
  position: relative;
  overflow: hidden;
  padding: 0 100px;
}
.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-image: url(../image/wave.png);
  background-size: 1000px 100px;
  animation: wave 15s linear infinite;
}
.wave1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-image: url(../image/wave.png);
  background-size: 1000px 100px;
  transform: rotate(180deg);
  animation: wave1 15s linear infinite;
}
@keyframes wave {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes wave1 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
.presentacion__secundaria h2 {
  text-align: center;
  margin-bottom: 0;
  font-weight: 300;
  font-family: "Roboto";
  font-size: 20px;
  color: #f86f03;
}
.presentacion__secundaria h1 {
  margin-bottom: 32px;
  font-family: "Roboto";
  font-weight: 500;
}
.presentacion__secundaria p {
  margin-bottom: 32px;
  font-family: "Roboto";
  font-size: 16px;
}
.presentacion__secundaria li {
  list-style: none;
  padding-left: 32px;
  position: relative;
}
.presentacion__secundaria li:before {
  content: "";
  position: absolute;
  background-color: #f86f03;
  width: 8px;
  height: 8px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  border: solid 0.0625rem rgba(205, 119, 13, 0.1);
  box-shadow: 0.0625rem 0.0625rem 0.0625rem 0.1875rem rgba(228, 133, 18, 0.1);
}
.presentacion__secundaria-container {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  padding: 0 12px;
  gap: 15px;
}
.presentacion__secundaria-container img {
  width: 50px;
  height: 50px;
  object-fit: scale-down;
  transition: box-shadow 300ms ease-in-out, transform 300ms ease-in-out;
}
.presentacion__secundaria-container img:hover {
  cursor: pointer;
  /* box-shadow: 0px 26px 49px rgba(146, 165, 184, 0.54); */
  transform: translate(-1px, -8px);
  /* box-shadow: 0px 0px 12px -8px #000; */
}

/* Comenzamos tercera entrada*/
.presentacion__tercera {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100vh;
  background: linear-gradient(0deg, #0c192c, #161e54);
  position: relative;
}
.presentacion__tercera h2 {
  position: absolute;
  top: 88px;
}
.magia {
  display: flex;
  position: absolute;
  top: -64px;
  left: -210px;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  box-shadow: 0 0 10px white, 0 0 40px white, 0 0 8px white;
  align-items: center;
  justify-content: center;
  background: white;
  animation: aparece 10s linear ;
}
.magia:hover,
.magia1:hover,
.magia2:hover,
.magia3:hover,
.magia4:hover,
.magia5:hover{
  animation: none;
}
.magia1 {
  display: flex;
  position: absolute;
  bottom: -120px;
  right: -170px;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  box-shadow: 0 0 10px white, 0 0 40px white, 0 0 8px white;
  align-items: center;
  justify-content: center;
  background: white;
  animation: aparece 18s linear ;
}
.magia2 {
  display: flex;
  position: absolute;
  bottom: -113px;
  left: 0;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  box-shadow: 0 0 10px white, 0 0 40px white, 0 0 8px white;
  align-items: center;
  justify-content: center;
  background: white;
  animation: aparece 25s linear ;
}
.magia3 {
  display: flex;
  position: absolute;
  bottom: 0px;
  left: -220px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0 0 10px white, 0 0 40px white, 0 0 8px white;
  align-items: center;
  justify-content: center;
  background: white;
  animation: aparece 13s linear ;
}
.magia4 {
  display: flex;
  position: absolute;
  top: 27px;
  right: -200px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  box-shadow: 0 0 10px white, 0 0 40px white, 0 0 8px white;
  align-items: center;
  justify-content: center;
  background: white;
  animation: aparece 9s linear ;
}
.magia5 {
  display: flex;
  position: absolute;
  top: -70px;
  left: 420px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  box-shadow: 0 0 10px white, 0 0 40px white, 0 0 8px white;
  align-items: center;
  justify-content: center;
  background: white;
  animation: aparece 18s linear ;
}

.magia2 img,
.magia3 img,
.magia4 img,
.magia5 img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.magia img,
.magia1 img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
}
.magia3 img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
@keyframes aparece {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.presentacion__tercera-container {
  display: flex;
  width: 50%;
  height: 50%;
  position: relative;
}
.presentacion__tercera-container figure {
  width: 0;
  flex-grow: 1;
  opacity: 0.8;
  transition: 0.5s ease;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
.presentacion__tercera-container figure img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.presentacion__tercera-container figure p {
  object-fit: cover;
  position: absolute;
  bottom: 0;
  color: white;
  width: 180px;
  opacity: 0;
  transition: all 1000ms ease-in-out;
  margin-bottom: 16px;
}
.presentacion__tercera-container figure:hover {
  width: 180px;
  opacity: 1;
  filter: contrast(120%);
}
.presentacion__tercera-container figure:hover > p {
  opacity: 1;
}
.presentacion__tercera-container figure:nth-child(7) {
  border-radius: 8px 0 0 8px;
}
.presentacion__tercera-container figure:nth-last-child(1) {
  border-radius: 0 8px 8px 0;
}

.proyectos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background: #0c192c;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.proyectos p {
  padding-left: 10px;
  margin: 56px 0;
  color: gray;
}
h2{
  z-index: 1;
  display: flex;
}
.slider {
  position: relative;
  z-index: 1;
  background: #d0d0d0;
  box-shadow: 0px 0px 8px 3px #79b0ff;
  width: 380px;
  overflow: hidden;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 16px;
  border: 1px solid white;
}
.slider__contenedor{
    display: flex;
    background-color: transparent;
    width: 300%;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-left: -100%;
    
    transition: all .5s ease;
}
.slides{
  position: absolute;
  z-index: 3;
}
.slide{
  cursor: pointer;
}
.slide1{
  position: absolute;
  right: -265px;
  top: -25px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  background: black;
  box-shadow: 0px 0px 8px #4583ff;
  border: 1px solid white;
}
.slide2{
  position: absolute;
  left: -265px;
  top: -25px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  background: black;
  box-shadow: 0px 0px 8px #4583ff;
  border: 1px solid white;
}

.slider__card {
  box-shadow: 0px 0px 16px -4px #0c192c;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  justify-content: center;
  width: calc(100% / 3);
  height: 450px;
  margin: 0 5px;
  border-radius: 1rem;
  margin: 0 20px;
  background: linear-gradient(#eeeeee, #eeeeee) padding-box,
    linear-gradient(
        to bottom,
        rgba(185, 185, 185, 0.44),
        rgba(94, 94, 94, 0.58)
      )
      border-box;
  border: 1px solid gray;
  flex-direction: column;
  font-family: "Roboto";
}


.slider__card a {
  padding-top: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-decoration: none;
  color: black;
  font-size: 20px;
  gap: 10px;
}

.bubble {
  position: absolute;
  display: flex;
  top: 0;
}
.bubble span {
  position: relative;
  width: 30px;
  height: 30px;
  background: #4fc3dc;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc4dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
  animation: animate 15s linear infinite;
  animation-duration: calc(125s / var(--i));
}
.bubble span:nth-child(even) {
  background: #ff2d75;
  box-shadow: 0 0 0 10px #ff2d7544, 0 0 50px #ff2d75, 0 0 100px #ff2d75;
}
@keyframes animate {
  0% {
    transform: translateY(100vh) scale(0);
  }
  100% {
    transform: translate(-10vh) scale(1);
  }
}
.paginas {
  width: 90%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 1px;
  margin-top: 8px;
}
.slider__card-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, min(60px));
  justify-items: center;
  justify-content: center;
  gap: 1rem;
}
.slider__card-icono {
  width: 100%;
  height: auto;
  gap: 1rem;
}


.contenedor-contacto{
  position: fixed;
  z-index: 4;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);

  visibility: hidden;
  opacity: 0;
  transition: 1s;
}
.contenedor-contacto.active{
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 1s;
}
.contenedor-contacto1#perciana.active{
  filter: blur(10px);
  transition: 1s;
}
#cerrar-popup{
  box-shadow: 0px 0px 8px blue;
  border: 1px solid black;
  position: absolute;
  top: 16px;
  right: 24px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: #2e7ef0;
  cursor: pointer;
  font-family: 'Roboto';
}
.contacto{
  position: relative;
  width: 400px;
  height: 550px;
  background-color: #f0fbff;
  border-radius: 16px;
  box-shadow: 0px 0px 8px white;
  padding: 32px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contacto__text{
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  font-family: 'Roboto';
}
.contacto__formulario{
  display: flex;
  flex-direction: column;
}
.grupo__input{
  padding: 16px 16px;
  border-radius: 25px;
  margin-bottom: 24px;
  background-color: #cee9f5;
  border: 2px solid #F0FAF1;
  color: #283629;
  outline: none;
  width: 100%;
}
.contacto__formulario-grupo{
  position: relative
}
.grupo__label{
  color: #61677A;
  position: absolute;
  top: 5px;
  left: 17px;
  transform: translateY(10px);
  transition: transform .5s, colorer1 .3s;
  font-family: 'Roboto';
}
.grupo__input:focus + .grupo__label,
.grupo__input:not(:placeholder-shown) + .grupo__label{
  transform: translateY(-20px) scale(.7);
  transform-origin: top left;
  color: #2e7ef0;
}
.correo{
  font-weight: 700;
  padding: 16px 16px;
  border-radius: 25px;
  margin-bottom: 20px;
  background-color: #2e7ef0;
  box-shadow: 0 0 20px rgb(0 196 254 / 40%);
  border: 2px solid #F0FAF1;
  color: #283629;
  outline: none;
  width: 100%;
  font-family: 'Roboto';
}


/*  iconos */
/*  iconos */
/*  iconos */

.ico{
    color: white;
    background: transparent;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding-top: 16px;
}
.ico2{
  padding-left: 10px;
}
@media screen and (min-width:1130px) {
  .slider{
    background: none;
    box-shadow: none;
    overflow:visible;
    border: none;
  }
  .slide1, .slide2{
    display: none;
  }
  
}
@media screen and (min-width:801px){
  #phone{
    display: none;
  }
}
@media screen and (max-width:800px) {
  .contenedor-contacto1{
    scroll-snap-type: y mandatory;
  }
  #cabecera{
    height: 60px;
    width: 100%;
    position: fixed;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #cabecera ul{
    position: relative;
  }
  .presentacion__principal{
    animation: none;
  }
  .ct,.magia5,.magia4,.magia1,.magia3,.magia,.bolita4, .bolita3, .magia2,.seleccionado{
    animation: none;
    display: none;
  }
  .bolita{
    right: -25px;
  }
  #cabecera p{
    font-size: 16px;
    color: white;
    width: 100px;
  }
  .ctac {
    position: absolute;
    top: -16px;
    right: 12px;
  }
  .presentacion__principal{
    width: 100vw;
  }
  .prensentacion-card{
    width: 300px;

  }
  .contacto{
    width: 300px;
  }
  .contacto__text h2{
    font-size: 20px;
  }
  #cerrar-popup{
    width: 27px;
    height: 27px;
  }
  .wave,.wave1{
    height: 64px;
  }
  .presentacion__secundaria{
    padding: 0 10px;
    flex-direction: column;
  }
  .presentacion__secundaria h1,.presentacion__secundaria p{
    margin-bottom: 16px;
  }
  .presentacion__secundaria-container{
    margin-top: 32px;
  }
  .presentacion__tercera-container{
    width: 98%;
  }
  .presentacion__tercera-container figure:hover{
    width: 120px;
  }
  .presentacion__tercera-container figure p{
    width: 153px;
  }
  .proyectos p {
    margin: 40px 0;
  }
  .slider__card{
    height: 400px;
  }
  .slider{
    width: 300px;
    height: 480px;

  }
  .slide1{
    right: -64px;
    top: 190px;
    border: none;
    background: transparent;
    box-shadow: none;
  }
  .slide2{
    left: -72px;
    top: 190px;
    border: none;
    background: transparent;
    box-shadow: none;
  }
  .ico{
    color: black;
  }
  .slider__card-icono{
    width: 50px;
  }
  .slider__card-2{
    gap: 0.1rem;
  }
}